.listItem {
    display: flex;
    align-items: center;
    max-width: 350px;
    margin-bottom: 30px;
    padding: 5px 15px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgb(177, 156, 156);
    
}

.listItem p {
margin-right: 20px;
}

.listItem button {
margin-left: auto;
margin-right: 10px;
}